---
---
<div class="em-lightbox" role="dialog" aria-modal="true" aria-label="Перегляд фото">
  <button type="button" class="em-lightbox-close" aria-label="Закрити">&#x2715;</button>
  <button type="button" class="em-lightbox-prev" aria-label="Попереднє фото">&#8592;</button>
  <button type="button" class="em-lightbox-next" aria-label="Наступне фото">&#8594;</button>
  <img class="em-lightbox-img" src="" alt="" />
  <p class="em-lightbox-caption"></p>
</div>
